################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day_2_Red-Nosed_Reports/.vs/Day_2_Red-Nosed_Reports/FileContentIndex/a024daf1-b2c7-4e70-aa83-be8292be65eb.vsidx
/.vs
